.jumbotron{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/baru1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}
.header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.jumbotron h1 {
    color: white;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -200%);
}
/* best seliing section */
.best-sell{
    padding-top: 2rem;
}
main{
  overflow: auto;
}
main .filter{
  float: left;
  height: 100vh;
  background: yellow;
  margin-right: 0.5%;
  padding: 2% 1%;
  width: 15%;
}
.best-sell .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
  }
  
  .best-sell .box-container .box {
    text-align: center;
    padding: 1rem;
  }

  .best-sell .heading {
    color: #ff6d05 ;
    font-weight: 700;
    font-size: 2.7rem;
  }
  .best-sell .sub-heading {
    font-weight: 600;
    text-align: center;
    font-size: 1.7rem;
  }
  
  .best-sell .box-container .box img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .best-sell .box-container .box h3 {
    font-size: 2rem;
    color: #219150;
  }
  
  .best-sell .box-container .box p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
}
/* checkbox-rect */
.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
}
.checkbox-rect input[type="checkbox"]:hover + label:hover {
  color: rgb(23, 86, 228);
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
  box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #3d8ec4;
  box-shadow: 0 0 0 1px #000;
}
/* checkbox-rect end */

/* badge */
.hide {
  display: none !important;
}
.intro {
  margin-top: 32px;
  text-align: center;
}

.badges {
	 /* display: flex; */
	 justify-content: flex-start;
   flex-wrap: wrap;
	 align-items: center;
	 padding: 10px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.badges .animated_badge_svg {
	 display: block;
	 position: relative;
}
.badges .animated_badge {
	 position: relative;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 width: 156px;
	 height: 156px;
	 margin: 24px 64px;
	 background-color: #fff;
	 border-radius: 100px;
	 box-shadow: 0px 2px 4px rgba(25, 35, 49, 0.02), 0px 24px 32px rgba(25, 35, 49, 0.08), 0px 4px 40px rgba(0, 0, 0, 0.12);
	 animation: fade-in-top 1.5s ease forwards;
	 will-change: transform, opacity;
	 opacity: 0;
}
.badges .animated_badge::before {
	 content: '';
	 position: absolute;
	 left: 19px;
	 top: 19px;
	 width: 118px;
	 height: 118px;
	 background-color: #f1f1eb;
	 border-radius: 100px;
	 opacity: 0;
	 animation: fade-in 1.5s ease forwards;
	 will-change: transform, opacity;
}

.badges .animated_badge .badge_ribbon {
	 opacity: 0;
	 transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
	 transform-origin: center;
	 animation: badge-ribbon-left-animation 1s 0.5s ease forwards;
	 will-change: transform, opacity;
}
.badges .animated_badge .badge_ribbon.right {
	 opacity: 0;
	 transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
	 transform-origin: center;
	 animation: badge-ribbon-right-animation 1s 0.5s ease forwards;
	 will-change: transform, opacity;
}
.badges .animated_stars {
	 position: absolute;
	 left: 0;
	 top: 0;
}
.badges .animated_stars .animated_star {
	 position: absolute;
	 opacity: 0;
	 animation: star-animation 0.6s 1s ease forwards;
	 will-change: transform, opacity;
}
.badges .animated_stars .animated_star:nth-of-type(1) {
	 left: -6px;
	 top: 26px;
	 animation-delay: 1s;
}
.badges .animated_stars .animated_star:nth-of-type(2) {
	 left: 32px;
	 top: 14px;
	 animation-delay: 1.05s;
}
.badges .animated_stars .animated_star:nth-of-type(3) {
	 left: 75px;
	 top: -12px;
	 animation-delay: 1.1s;
}
.badges .animated_stars .animated_star:nth-of-type(4) {
	 left: 121px;
	 top: 9px;
	 animation-delay: 1.15s;
}
.badges .animated_stars .animated_star:nth-of-type(5) {
	 left: 152px;
	 top: 35px;
	 animation-delay: 1.2s;
}
.badges .animated_stars .animated_star.plus {
	 width: 12px;
	 height: 12px;
}
.badges .animated_stars .animated_star.plus::before {
	 content: '';
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 width: 12px;
	 height: 4px;
	 background-color: #d5d4d1;
	 border-radius: 10px;
}
.badges .animated_stars .animated_star.plus::after {
	 content: '';
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 width: 4px;
	 height: 12px;
	 background-color: #d5d4d1;
	 border-radius: 10px;
}
.badges .animated_stars .animated_star.plus.yellow::before, .badges .animated_stars .animated_star.plus.yellow::after {
	 background-color: #fcd977;
}
.badges .animated_stars .animated_star.donut {
	 position: relative;
	 width: 10px;
	 height: 10px;
	 border: 3px solid #fcd977;
	 background-color: transparent;
	 border-radius: 10px;
}

@keyframes star-animation {
	 0% {
		 opacity: 1;
		 transform: scale(0.2);
	}
	 50% {
		 opacity: 1;
		 transform: scale(1.5);
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
@keyframes badge-circle-animation {
	 0% {
		 opacity: 0;
		 transform: translateY(-6px) scale(0.5);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0) scale(1);
	}
}
@keyframes badge-ribbon-left-animation {
	 0% {
		 opacity: 0;
		 transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0) rotate(0deg) scale(1);
	}
}
@keyframes badge-ribbon-right-animation {
	 0% {
		 opacity: 0;
		 transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
	}
	 100% {
		 opacity: 1;
		 transform: translate(0) rotate(0deg) scale(1);
	}
}

@keyframes fade-in-top {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 600px) {
 main .filter{
  width: 100%;
  background: gray ;
}
}