.jumbotron{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/baru1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}
.header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.jumbotron h1 {
    color: white;
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -200%);
}
/* best seliing section */
.best-sell{
    padding-top: 2rem;
}
main{
  overflow: auto;
}
main .filter{
  float: left;
  height: 100vh;
  background: yellow;
  margin-right: 0.5%;
  padding: 2% 1%;
  width: 15%;
}
.best-sell .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
  }
  
  .best-sell .box-container .box {
    text-align: center;
    padding: 1rem;
  }

  .best-sell .heading {
    color: #ff6d05 ;
    font-weight: 700;
    font-size: 2.7rem;
  }
  .best-sell .sub-heading {
    font-weight: 600;
    text-align: center;
    font-size: 1.7rem;
  }
  
  .best-sell .box-container .box img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .best-sell .box-container .box h3 {
    font-size: 2rem;
    color: #219150;
  }
  
  .best-sell .box-container .box p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
}
/* checkbox-rect */
.checkbox-rect input[type="checkbox"] {
  display: none;
}
.checkbox-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  cursor: pointer;
}
.checkbox-rect input[type="checkbox"]:hover + label:hover {
  color: rgb(23, 86, 228);
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
  box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #343a3f;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.2em;
  border: 2px solid #fff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #3d8ec4;
  box-shadow: 0 0 0 1px #000;
}
/* checkbox-rect end */
/* check box */

@media only screen and (max-width: 600px) {
 main .filter{
  width: 100%;
  background: gray ;
}
}